body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html, body, #root { width: 100%; height: 100%; margin: 0; padding: 0; }

body {
  background-image: url("../public/background-wood.jpg");
  background-size: cover;
  overflow: hidden;
}

@keyframes clouds-wind {
  0% {
    left: 0%;
    top: 0;
  }
  50% { 
    left: -100%;
  }
  100% {
    left: 0%;
    top: 0;
  }
}

#clouds-background {
  animation: clouds-wind linear infinite 115s;
  background-image: url(../public/background-clouds.png);
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  width: 200vw;
  height: 100vh;
}
